<html lang="en">
  <head>
    {{>header}}
    <title>Login</title>
  </head>
  <body style="background-image: url(/images/BG.jpg);" >
     {{>topnavbar}}
    <div class="imj">
  
    
    <div class="wrapper ">
      <div id="formContent">
    

         {{#if messages.error}}
          <span class="registerSpan"><strong>{{messages.error}}</strong></span><br>
        {{/if}}
    
        <h2>Admin Login</h2>

   
        <form action="/api/users/login" method="POST">
          <input
            type="email"
            id="email"
            class="1"
            name="email"
            placeholder="Email"
            value="{{messages.email}}"
          />
          <input
            type="password"
            id="password"
            class="2"
            name="password"
            placeholder="Password"
          />
          <button class="fadeIn fourth myBtn">Login</button>
        </form>

     
        <div id="formFooter">
          
          <a class="underlineHover" href="/register">Register Now</a>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>